@charset "UTF-8";

body {
    background-color: #78b4e3;
    font-family: Arial;
    font-size: 100%;
    background-image: url(../_images/minish-cap.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

div#explicacao {
    box-sizing: border-box;
    position: relative;
    background-color: azure;
    margin: -0.5rem 12rem 3rem 12rem;
    padding: 20px;
    z-index: 2;
}

p {
    font-size: 12pt;
    text-indent: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 20pt;
}

ul {
    list-style-type: circle;
}

span.bold {
    font-weight: bold;
}

/*Use a propriedade a seguir para trechos que você ficou em dúvida por não ter entendido bem*/
span.doubt {
    color: steelblue;
}

/*Use a propriedade a seguir para trechos não sabe se o que você está dizendo é certo.*/
span.notsure {
    color: #04AA6D;
    font-weight: bold;
}

/*Use a propriedade a seguir para trechos que você, obrigatoriamente, terá que voltar por não ser pro seu nível ainda.*/
span.seeya {
    color: orangered;
    font-weight: bold;
}

@media screen and (max-width: 1050px) {
    body {
        background-image: none;
        background-repeat: none;
        background-position: none;
        background-attachment: none;
    }

    div#explicacao {
        margin: -0.5rem 6rem 6rem 6rem;
    }
}