@charset "UTF-8";

body {
    background-color: #78b4e3;
    font-family: Arial;
    font-size: 100%;
}

div#explicacao {
    box-sizing: border-box;
    position: relative;
    background-color: azure;
    margin: -8px auto 10vw auto;
    max-width: 63vw;
    padding: 20px;
    min-height: 60vw;
    z-index: 4;
}

div#link {
    background: url(../_images/minish-cap.png) no-repeat fixed right top;
}

p {
    font-size: 12pt;
    text-indent: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 20pt;
}

ul {
    list-style-type: circle;
}

span.bold {
    font-weight: bold;
}

/*Use a propriedade a seguir para trechos que você ficou em dúvida por não ter entendido bem*/
span.doubt {
    color: steelblue;
}

/*Use a propriedade a seguir para trechos não sabe se o que você está dizendo é certo.*/
span.notsure {
    color: #04AA6D;
    font-weight: bold;
}

/*Use a propriedade a seguir para trechos que você, obrigatoriamente, terá que voltar por não ser pro seu nível ainda.*/
span.seeya {
    color: orangered;
    font-weight: bold;
}