@charset "UTF-8";

form {
    margin: 20px 25px;
}

.first-ex input {
    width: 60%;
}

.second-ex input {
    width: 100%;
}

.padding input {
    padding: 15px;
    box-sizing: border-box;
}

.padding2 input {
    padding: 30px;
    box-sizing: border-box;
}

.border [type="text"] {
    border: 2px solid salmon;
}

.rounded  [type="text"], .background [type="text"] {
    border-radius: 12px;
}

.border-bottom [type="text"] {
    border: none;
    border-bottom: 2px solid salmon;
}

.background [type="text"] {
    background-color: #04AA6D;
}

.text [type=text] {
    color: white;
}

.third-ex input{
    outline: none;
}

.clicked input:focus {
    background-color: tomato;
    color: white;
    outline: 2px solid goldenrod;
}

.clicked2 input:focus {
    outline: 4px solid steelblue;
    border: 2px solid lightgreen;
    margin: 15px 0;
}

.image [type="text"] {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-image: url(../_images/blue-kinstone-menor.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12.5px 15px 12.5px 70px;
    height: 48px;
}

.limited textarea {
    max-width: 750px;
    max-height: 150px;
}

.noresizable textarea {
    resize: none;
}

.stylized-menu select {
    width: 50%;
    padding: 10px;
    border: 2px solid steelblue;
}

.stylized-menu2 select {
    width: 100%;
    padding: 15px;
}

.margin {
    margin: 20px;
}

.buttons2 [type="button"] {
    background-color: salmon;
}

.buttons2 [type="reset"] {
    background-color: steelblue; 
}

.buttons2 [type="submit"] {
    background-color: #04AA6D;
}

.buttons3 input {
    width: 30%;
    background-color: #04AA6D;
    font-weight: bold;
    color: white;
    padding: 15px;
}