@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
    font-size: 16px;
}

#container {
    max-width: 40rem;
    width: 100%;
    min-height: 30rem;
    max-height: 40rem;
    border-radius: 1rem;
    padding: 3rem 4rem;
    background-color: white;
}

#container .title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex: 0 1 100%;
}

.box label:not(.show), .box input {
    display: flex;
    flex: 0 1 100%;
}

.box #user, .box #password {
    height: 4rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    border-bottom-width: 0.2rem;
    transition: all 0.3s ease;
}

.box #user {
    padding: 3.2rem 1rem 0 1rem;
}

.box #password {
    padding: 3.2rem 7.2rem 0 1rem;
}

.show {
    position: absolute;
    display: none;
    bottom: 2rem;
    right: 1.2rem;
    line-height: 4rem;
    cursor: pointer;
}

.box label:not(.show) {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    pointer-events: none;
    transition: -5s;
}

#show {
    display: none;
}

#container .box input:focus + label, #container .box input:focus, #container .box input:valid + label, #container .box input:valid {
    height: 6rem;
    bottom: auto;
    top: 10px;
    font-size: 12px;
}

#container .box input:focus ~ .show, #container .box input:valid ~ .show {
    display: block;
}

#container .box input:focus, #container .box input:valid {
    border-color: rgba(110,123,251,1);
}

.button {
    display: flex;
    flex: 0 1 100%;
    height: 4rem;
    margin-bottom: 1rem;
}

.button input {
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    letter-spacing: 0.1rem;
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
}

a {
    text-decoration: none;
    color: rgba(110,123,251,1);
}

p {
    display: block;
    text-align: center;
}