@charset "UTF-8";

/*
    Notes:
    - 1rem = 10px;
    - I've tried to keep some spacing proportions, but I think that's missing a lot.
    - Pay attention to indents of commentaries, with them, you will be capable of knowing what the commentary encompasses if something is a subsection or not, etc.
*/

/*
    Main sections commentaries:
    - Stylizations of titles and subtitles
    - Stylization of sections
    - Stylization of content boxes
    - Stylization of some inputs
    - Stylization of some labels
    - Stylization of register button
    - Stylization of placeholder
    - Stylization of the show password button
    - Specific stylizations
    - Stylization of section change button
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
    font-size: 16px;
    padding: 1rem;
}

.container {
    background-color: white;
    max-width: 80rem;
    border-radius: 1rem;
    width: 100%;
    padding: 3rem 4rem;
}

/*  Stylizations of titles and subtitles */

.container .title {
    position: relative;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.3rem;
    width: 3rem;
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
}

.pers-info-title, .contact-title, .workplace-title, .house-title, .user-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    flex: 0 1 100%;
}

.personal-information .box legend, .contact .box legend, .workplace .box legend, .house .box legend, .user .box legend, .personal-information .birthday, .personal-information .marital-status {
    display: flex;
    font-weight: 600;
    margin-bottom: 1rem;
}

form .gender .gender-title {
    flex: 0 1 100%;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/*  Stylization of sections */

.personal-information, .contact, .workplace, .house, .user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 1.2rem 0;
}

/*  Stylization of content boxes */

form .personal-information .box, form .contact .box, form .workplace .box, form .house .box, form .user .box {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 2 - 2rem);
    margin-bottom: 1rem;
}

/* Stylization of some inputs */

.personal-information .placeholder input, .contact .placeholder input, .workplace .placeholder input, .house .placeholder input, .user .placeholder input:not(#show) {
    padding: 3.2rem 1rem 0 1rem;
    height: 6rem;
    max-height: 6rem;
    width: 100%;
}

.personal-information .placeholder input, .personal-information #marital-status, .personal-information #birthday, .contact .placeholder input, .workplace .placeholder input, .house .placeholder input, .user .placeholder input:not(#show) {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    border-bottom-width: 0.2rem;
    transition: all 0.3s ease;
}

.personal-information #marital-status, .personal-information #birthday {
    padding-left: 1rem;
    height: 4rem;
    width: 20rem;
    font-size: 16px;
}

.personal-information .placeholder input, .contact input, .workplace input, .house input, .user input:not(#show) {
    display: flex;
    flex: 0 1 100%;
}

.gender input {
    margin-left: 1rem;
}

.gender .options {
    display: flex;
    flex: 0 70%;
    justify-content: space-between;
}

/*      :focus e :valid. Change the color by click */

.personal-information .box input:focus, .personal-information .box #marital-status:focus, .personal-information .box #marital-status:valid, .personal-information .box #birthday:focus, .personal-information .box #birthday:valid, .personal-information .box input:valid, .contact .box input:focus, .contact .box input:valid, .workplace .box input:focus, .workplace .box input:valid, .house .box input:focus, .house .box input:valid, .user .box input:not(#show):focus, .user .box input:not(#show):valid {
    border-color: rgba(110,123,251,1);
}

/*  Stylization of some labels */

.gender label {
    margin-left: -7rem; 
}

.personal-information .placeholder label, .contact label, .workplace label, .house label, .user label:not(.show) {
    display: flex;
    flex: 0 1 100%;
}

.placeholder label:not(.show) {
    position: absolute;
    bottom: 2rem;
    left: 1.2rem;
    pointer-events: none;
    transition: -5s;
}

/*  Stylization of register button */

.button {
    display: none;
    flex: 0 1 100%;
    height: 4.5rem;
    margin: 4.5rem 0 0 0;
}

.button [type="submit"] {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    outline: none;
    color: white;
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
    justify-content: center;
    cursor: pointer;
}

/* Stylization of placeholder */

.placeholder {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    position: relative;
}

/*  Stylization of the show password button */
/*      Obs.: I tried to do the spacing between text and the show password "button" to be equal to 10px */

.show {
    position: absolute;
    display: none;
    bottom: 1rem;
    right: 1.1rem;
    line-height: 4rem;
    cursor: pointer;
}

#show {
    display: none;
}

/*      :focus and :valid. They do the text go upward. */

.placeholder input:not(#show):focus + label, .placeholder input:not(#show):valid + label {
    bottom: auto;
    top: 10px;
    font-size: 12px;
}

.placeholder input:not(#show):focus, .placeholder input:not(#show):valid {
    bottom: auto;
    top: 10px;
    font-size: 16px;
}

.container .placeholder input:focus ~ .show, .container .placeholder input:valid ~ .show {
    display: block;
}

/*  Specific stylizations */
/*      Don't let the text get close to the show password button */
/*          Obs.: I tried to do the spacing between text and the show password "button" to be equal to 10px */

.container form .user .placeholder #password {
    padding: 3.2rem 7.3rem 0 1rem;
}

.container form .user .placeholder #password-confirmation {
    padding: 3.2rem 7.3rem 0 1rem;
}

/*      They do that an entire row be filled, don't giving space to any block stay aside of it */

.container form .user .entire-row #user {
    width: calc(100% / 2 - 2rem);
    flex: none;
}

.container form .user .entire-row {
    width: 100%;
}

/*      Disable sections */

.contact, .workplace, .house, .user {
    display: none;
}

/*      I should try to understand the reason that I needed to do it because I didn't understand the origin of that */

.marital-status {
    display: flex;
    flex: 0 1 100%;
}

/*      They do the box fill the entire row */

.personal-information .gender {
    display: flex;
    flex: 0 1 100%;
}

/*  Stylization of section change button */
/*      Disable inputs */

#gpi, #gc, #gwp, #gh, #gu {
    display: none;
}

/*      Button stylization */

[for="gpi"], [for="gc"], [for="gbwp"], [for="gbh"], [for="gwp"], [for="gh"], [for="gu"] {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 2rem;
    outline: none;
    color: white;
    cursor: pointer;
}

/*          Button color stylization */

[for="gpi"], [for="gc"], [for="gbwp"], [for="gbh"], [for="gwp"], [for="gh"], [for="gu"] {
    background: linear-gradient(135deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%);
}

#gpi:checked ~ [for="gpi"] {
    background: linear-gradient(135deg, #000428, #004e92);
}

#gc:checked ~ [for="gc"] {
    background: linear-gradient(135deg, #000428, #004e92);
}

#gwp:checked ~ [for="gwp"] {
    background: linear-gradient(135deg, #000428, #004e92);
}

#gh:checked ~ [for="gh"] {
    background: linear-gradient(135deg, #000428, #004e92);
}

#gu:checked ~ [for="gu"] {
    background: linear-gradient(135deg, #000428, #004e92);
}

/*      Go to personal information secetion */

#gpi:checked ~ .contact, #gpi:checked ~ .workplace, #gpi:checked ~ .house, #gpi:checked ~ .user, #gpi:checked ~ .button {
    display: none;
}

#gpi:checked ~ .personal-information {
    display: flex;
}

/*      Go to contact section */

#gc:checked ~ .personal-information, #gc:checked ~ .workplace, #gc:checked ~ .house, #gc:checked ~ .user, #gc:checked ~ .button {
    display: none;
}

#gc:checked ~ .contact {
    display: flex;
}

/*      Go to workplace section */

#gwp:checked ~ .personal-information, #gwp:checked ~ .contact, #gwp:checked ~ .house, #gwp:checked ~ .user, #gwp:checked ~ .button {
    display: none;
}

#gwp:checked ~ .workplace {
    display: flex;
}

/*      Go to house section */

#gh:checked ~ .personal-information, #gh:checked ~ .workplace, #gh:checked ~ .contact, #gh:checked ~ .user, #gh:checked ~ .button {
    display: none;
}

#gh:checked ~ .house {
    display: flex;
}

/*      Go to user section */

#gu:checked ~ .personal-information, #gu:checked ~ .workplace, #gu:checked ~ .house, #gu:checked ~ .contact {
    display: none;
}

#gu:checked ~ .user, #gu:checked ~ .button {
    display: flex;
}

/*
    The code next is just in case of I forget how the hack that fakes an click interaction works.
    O código a seguir é somente para o caso de eu esquecer como funciona o hack que finge uma interação de click.

    #test {
        display: none;
    }

    #test:checked ~ form > .logoff, #test:checked ~ .fright  {
        display: block;
    }
}
*/