@charset "UTF-8";

/* I intend to practice here, therefore I could repeat some codes or not simplify them merging in a single declaration */

/* Runs in more than one form */
.example, .example2, .example3, .example4, .example5, .example6, .example7, .example8, .example9, .example10, .example11, .example12, .example13, .example14 {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
}

/* Your first form */
/* First form */

.example li {
    list-style-type: none;
}

.example li {
    margin-bottom: 2rem;
}

.example {
    width: 45rem;
    margin: 0 auto 2rem auto;
}

.example label {
    width: 10rem;
    display: inline-block;
    text-align: right;
}

.example input, .example textarea {
    font: 1.6rem sans-serif;
    width: 30rem;
    box-sizing: border-box;
}

textarea {
    vertical-align: top;
    height: 10rem;
}

.button {
    padding-left: 10.4rem;
}

.example button {
    padding: 1rem 2rem;
}

/* Second form */

.example2 {
    box-sizing: border-box;
    width: 60rem;
}

.example2 ul {
    padding: 0;
    margin: 0;
}

.example2 li {
    list-style-type: none;
    margin-bottom: 2rem;
    text-align: right;
}

.example2 .button input {
    width: 45rem;
    padding: 1rem 0;
}

.example2 input, .example2 label, .example2 textarea {
    display: inline-block;
    box-sizing: border-box;
}

.example2 input, .example2 textarea {
    width: 45rem;
}

/* How to structure a web form */
/* Runs in more than one form */
.example3, .example3 fieldset, .example4, .example4 fieldset, .example5, .example5 fieldset {
    margin: 0 auto 2rem auto;
}

/* First form */

.example3 {
    width: 35rem;
}

.example3 p {
    text-indent: 0;
    margin-left: 2rem;
}

.example3 label {
    text-align: left;
    width: 10rem;
}

.example3 input, .example3 label {
    display: inline-block;
}

.example3 p {
    text-indent: auto;
}

.example3 fieldset {
    padding: 2rem;
}

/* Second form and third form */

.example4, .example5 {
    width: 35rem;
    padding: 2rem;
}

.example4 label, .example5 label, .example4 input, .example5 input {
    display: inline-block;
}

.example4 label, .example5 label {
    width: 7rem;
}

.example4 p, .example5 p {
    text-indent: 0;
    margin-left: 2rem;
}

/* Fourth form */
.example6 .contact p, .example6 .wishes p {
    text-indent: 0;
}

.example6 body, .example6 h1, .example6 h2, .example6 h3 {
    counter-reset: none;
}

.example6 h1::before, .example6 h2::before, .example6 h3::before, .example6 h4::before {
    counter-increment: none;
    content: none;
}

.example6 {
    width: 50rem;
}

.example6 li {
    list-style-type: none;
}

.example6 .contact p, .example6 .wishes p {
    padding-left: 7rem;
}

.example6 label, .example6 input, .example6 .wishes textarea {
    display: inline-block;
}

.example6 .contact label:not(.contact fieldset label), .example6 .wishes [for="msg"] {
    text-align: left;
    width: 8rem;
}

.example6 .contact fieldset, .example6 .contact input:not(.contact fieldset input), .example6 .interest fieldset, .example6 .wishes textarea  {
    float: right;
}

.example6 fieldset {
    width: 40rem;
    margin: 0 0 2rem 0;
}

.contact p input {
    width: 33rem;
}

.example6 button {
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
}

.example6 textarea {
    width: 33rem;
}

.example6 .wishes p {
    overflow: hidden;
}

/* Basic native form controls */

/* First form */
.example7 {
    width: 75rem;
}

.example7 h1, .example7 h2, .example7 h3 {
    counter-reset: none;
}

.example7 h1::before, .example7 h2::before, .example7 h3::before, .example7 h4::before {
    counter-increment: none;
    content: none;
}

.example7 li {
    list-style-type: none;
    margin-bottom: 2rem;
}

.example7 label, .example7 input {
    display: inline-block;
}

.example7 label {
    width: 9rem;
}

.example7 input:not(.example7 #size) {
    width: 40rem;
}

.example7 fieldset {
    width: 55rem;
    margin: 2rem auto;
}

.example7 p {
    text-indent: 0;
}

.example7 button {
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Second form */
.example8 {
    width: 40rem;
}

.example8 h1, .example8 h2, .example8 h3 {
    counter-reset: none;
}

.example8 h1::before, .example8 h2::before, .example8 h3::before, .example8 h4::before {
    counter-increment: none;
    content: none;
}

.example8 ul {
    margin: 0;
    padding: 0;
}

.example8 li {
    list-style-type: none;
    margin-left: 2.8rem;
}

.example8 label, .example8 input {
    display: inline-block;
}

.example8 label {
    width: 9rem;
    text-align: left;
}

.example8 input {
    width: 20rem;
}

.example8 span {
    margin-top: 2rem;
    display: block;
}

.example8 button {
    display: block;
    padding: 1rem;
    margin: 0 auto
}

/* Fourth form and Fifth form */

.example9, .example10 {
    width: 40rem;
}

.example9 fieldset, .example10 fieldset {
    width: 25rem;
    margin: 2rem auto;
}

/* Fourth form */

.example9 h1, .example9 h2, .example9 h3 {
    counter-reset: none;
}

.example9 h1::before, .example9 h2::before, .example9 h3::before, .example9 h4::before {
    counter-increment: none;
    content: none;
}

.example9 li {
    list-style-type: none;
}

.example9 button {
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Fifth form */

.example10 h1, .example10 h2, .example10 h3 {
    counter-reset: none;
}

.example10 h1::before, .example10 h2::before, .example10 h3::before, .example10 h4::before {
    counter-increment: none;
    content: none;
}

.example10 li {
    list-style-type: none;
}

.example10 button {
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Sixth form */

.example11 h1, .example11 h2, .example11 h3 {
    counter-reset: none;
}

.example11 h1::before, .example11 h2::before, .example11 h3::before, .example11 h4::before {
    counter-increment: none;
    content: none;
}

.example11 {
    width: 30rem;
}

.example11 input {
    display: block;
    margin: 0 auto;
}

/* Seventh form */

.example12 h1, .example12 h2, .example12 h3 {
    counter-reset: none;
}

.example12 body::before, .example12 h1::before, .example12 h2::before, .example12 h3::before, .example12 h4::before {
    counter-increment: none;
    content: none;
}

.example12 {
    width: 45rem;
}

/* Eighth form */

.example13 h1, .example13 h2, .example13 h3 {
    counter-reset: none;
}

.example13 body::before, .example13 h1::before, .example13 h2::before, .example13 h3::before, .example13 h4::before {
    counter-increment: none;
    content: none;
}

.example13 {
    width: 50rem;
}

.example13 li {
    list-style-type: none;
}

.example13 ul {
    margin: 0;
    padding: 0;
}

.example13 fieldset {
    width: 25rem;
    padding: 2rem;
    margin: 0 auto;
}

.example13 button {
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* The HTML5 input types */
/* Runs in more than one form */

.example15, .example16, .example17, .example18, .example19, .example20, .example21  {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
}

.example15 li, .example16 li, .example17 li, .example18 li {
    list-style-type: none;
}

.example15 body, .example15 h1, .example15 h2, .example15 h3, .example16 body, .example16 h1, .example16 h2, .example16 h3, .example17 body, .example17 h1, .example17 h2, .example17 h3, .example18 body, .example18 h1, .example18 h2, .example18 h3, .example19 body, .example19 h1, .example19 h2, .example19 h3, .example20 body, .example20 h1, .example20 h2, .example20 h3 {
    counter-reset: none;
}

.example15 h1::before, .example15 h2::before, .example15 h3::before, .example16 h1::before, .example16 h2::before, .example16 h2::before, .example16 h3::before, .example17 h1::before, .example17 h2::before, .example17 h2::before, .example17 h3::before, .example18 h1::before, .example18 h2::before, .example18 h2::before, .example18 h3::before, .example19 h1::before, .example19 h2::before, .example19 h2::before, .example19 h3::before, .example20 h1::before, .example20 h2::before, .example20 h2::before, .example20 h3::before  {
    counter-increment: none;
    content: none;
}

/* First form */
.example14 h1, .example14 h2, .example14 h3 {
    counter-reset: none;
}

.example14 body::before, .example14 h1::before, .example14 h2::before, .example14 h3::before, .example14 h4::before {
    counter-increment: none;
    content: none;
}

.example14 {
    width: 35rem;
}

.example14 label, .example14 input {
    display: inline-block;
}

.example14 ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.example14 fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.example14 li {
    list-style-type: none;
    margin-left: 1rem;
}

.example14 p {
    text-indent: 0;
    text-align: right;
    overflow: hidden;
}

.example14 input {
    width: 20rem;
    margin-left: 1rem;
}

.example14 button {
    display: block;
}

.example14 input, .example14 li {
    float: right;
}

/* Second form */

.example15 body, .example15 h1, .example15 h2, .example15 h3 {
    counter-reset: none;
}

.example15 h1::before, .example15h2::before, .example15 h2::before, .example15 h3::before {
    counter-increment: none;
    content: none;
}

.example15 {
    width: 40rem;
}
    
.example15 ul {
    padding: 0;
    margin: 0;
}

/* Third form */

.example16 {
    width: 40rem;
}

.example16 button {
    display: block;
    padding: 0.5rem;
    margin: 2rem auto;
}

/* Fourth form */

.example17 {
    width: 60rem;
}

.example17 label, .example17 input {
    display: inline-block;
}

.example17 li {
    margin: 2rem;
}

.example17 fieldset {
    width: 45rem;
    margin: 2rem auto;
}

.example17 label {
    width: 8rem;
}

.example17 input {
    width: 35rem;
    padding: 0.3rem 0.6rem;
}

.example17 p {
    text-indent: 0;
    overflow: hidden;
    text-align: center;
}

.example17 button {
    display: inline-block;
    padding: 0.5rem;
    margin: 0 2rem;
}

/* Fifth form */

.example18 {
    width: 65rem;
}

.example18 input:not([type="submit"]) {
    width: 6rem;
}

.example18 [type="submit"]{
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Sixth form */

.example19 {
    width: 45rem;
}

.example19 [type="submit"]{
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Seventh form */

.example20 {
    width: 60rem;
}

.example20 [type="submit"]{
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Eighth form */

.example21 body, .example21 h1, .example21 h2, .example21 h3 {
    counter-reset: none;
}

.example21 h1::before, .example21 h2::before, .example21 h3::before, .example h4::before {
    counter-increment: none;
    content: none;
}

.example21 {
    width: 30rem;
}

.example21 input:not([type="submit"]) {
    width: 20rem;
    margin: 3rem;
}

.example21 [type="submit"]{
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

.example21 label {
    display: block;
    margin: 2rem 0;
}

/* Other form controls */
/* Runs in more than one form */

.examples-container body, .examples-container h1, .examples-container h2, .examples-container h3 {
    counter-reset: none;
}

.examples-container h1::before, .examples-container h2::before, .examples-container h3::before, .examples-container h4::before {
    counter-increment: none;
    content: none;
}

.example23 [type="submit"], .example24 [type="submit"], .example25 [type="submit"]{
    display: block;
    padding: 1rem;
    margin: 1rem auto;
}

/* First form */

.example22, .example22 section, .example23, .example24, .example25, .example26 {
    border: 1px solid gray;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 2rem;
}

.example23, .example24, .example25, .example26 {
    width: 50rem;
}

.example22 {
    width: 45rem;
}

.example22 section {
    width: 35rem;
}

.example22 textarea {
    margin-left: 3rem;
}

.example22 label {
    display: block;
    margin: 2rem 0 2rem 3rem;
}

.example22 [type="submit"] {
    display: block;
    padding: 1rem;
    margin: 0 auto;
}

/* Progress */

.container {
    width: 30rem;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem auto;
}

.container progress {
    display: block;
    margin: 0 auto;
}

/* Styling Web Forms */
/* Legend */

.example3 fieldset {
    position: relative;
}

.example3 legend {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-top-left-radius: 1rem;
}

.example27 {
    display: block;
    margin: 0 auto;
    width: 70rem;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;
}

.example27 ul, .example27 li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.example27 li {
    display: block;
    list-style-type: none;
    margin: 2rem 0;
}

.personal-information, .your-preferences, .planning, .talk-to-us {
    position: relative;
    width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
}

.personal-information > legend, .your-preferences > legend, .planning > legend, .talk-to-us > legend, .css-fw-preferences > legend, .js-fw-preferences > legend, .css-fw-intention > legend, .js-fw-intention > legend, .first-css-fw > legend, .first-js-fw > legend {
    position: absolute;
    background: linear-gradient(135deg, #8360c3, #2ebf91);
    color: white;
    padding: 0.5rem;
}

.personal-information > legend, .your-preferences > legend, .planning > legend, .talk-to-us > legend {
    top: -1px;
    left: -1px;
    border-bottom-right-radius: 1rem;
}

.css-fw-preferences > legend, .js-fw-preferences > legend, .css-fw-intention > legend, .js-fw-intention > legend, .first-css-fw > legend, .first-js-fw > legend {
    bottom: 0;
    right: 0;
    border-top-left-radius: 1rem;
}

.framework-intention, first-framework {
    border-radius: 1rem;
}

.css-fw-intention, .js-fw-intention, .css-fw-preferences, .js-fw-preferences, .first-css-fw, .first-js-fw {
    border-radius: 1rem 1rem 0 1rem;
}

.personal-information, .your-preferences, .planning, .talk-to-us {
    border-radius: 0 1rem 1rem 1rem;
}

.framework-intention, .first-framework {
    width: 45rem;
    padding: 2rem;
    margin: 2rem auto;
}

.css-fw-preferences, .js-fw-preferences, .css-fw-intention, .js-fw-intention, .first-css-fw, .first-js-fw {
    padding: 4rem 2rem;
    margin: 2rem auto;
    position: relative;
}

.css-fw-preferences, .js-fw-preferences {
    width: 35rem;
}

.your-preferences label {
    display: inline-block;
    width: 15rem;
}

.personal-information label {
    display: inline-block;
    width: 15rem;
}

.personal-information input {
    width: 25rem;
    margin: 0.5rem 0;
}

.example27 .personal-information [id="age2"] {
    width: 25rem;
}

.example27 button {
    display: block;
    padding: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

.example27 input, .example27 textarea, .example27 button {
    box-sizing: border-box;
}

.example27 input[type="text"], .example27 input[type="radio"], .example27 input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.example27 textarea {
    overflow: auto;
    padding: 1rem;
}

.your-preferences input {
    border: 1px solid #8360c3;
    border-radius: 10px;
    padding: 0.2rem;
}

.example27 input[type="checkbox"] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.example27 input[type="checkbox"]::before {
    content: "✔";
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: 2px;
    visibility: hidden;
    color: #8360c3;
}

.example27 input[type="checkbox"]:checked {
    border: 1px solid #8360c3;
}

.example27 input[type="checkbox"]:checked::before {
    visibility: visible;
}

.example27 input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}

.example27 input[type="radio"] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid gray;
    vertical-align: -0.1rem;
    border-radius: 50%;
}

.example27 input[type="radio"]::before {
    content: "";
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    background-color: #8360c3;
    visibility: hidden;
}

.example27 input[type="radio"]:checked::before {
    visibility: visible;
}

.example27 input[type="file"] {
    visibility: hidden;
    /* MDM recommendation
    height: 0;
    padding: 0;
    opacity: 0;
    */
}

.example27 label[for="profile-picture"] {
    display: block;
    box-shadow: 1px 1px 3px #ccc;
    background: linear-gradient(135deg, #8360c3, #2ebf91);
    color: white;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.example27 label[for="profile-picture"]:hover {
    background: linear-gradient(to left, #8360c3, #2ebf91);
}

.example27 select {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.2rem 2rem;
    
}

.select {
    position: relative;
    width: fit-content;
}

.example27 .select::after {
    display: block;
    position: absolute;
    content: "▼";
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
    top: 5px;
    right: 5px;
}

.example17 input:required {
    border: 1px solid black;
}

.example17 input:optional {
    border: 1px solid silver;
}

.example17 span  {
    position: relative;
}

.example17 input:required + span::after {
    position: absolute;
    content:"Required";
    padding: 0.1rem 1.5rem;
    top: -3.1rem;
    right: 0;
    background-color: black;
    color: white;
}

.example17 input:invalid {
    border: 1px solid red;
}

.example17 input:invalid + span::before {
    position: absolute;
    content: "✖";
    color: red;
    right: -2rem;
}

.example17 input:valid + span::before {
    position: absolute;
    content: "✓";
    color: green;
    right: -2rem;
}

.personal-information span {
    position: relative;
}

.personal-information span::after {
    position: absolute;
    padding: 0.1rem 1.5rem;
    font-size: 1.2rem;
    top: -2.5rem;
    right: 0;
}

.personal-information input:required + span::after {
    background-color: black;
    color: white;
    content: "Required"
}

.personal-information input:out-of-range + span::after {
    background-color: red;
    color: white;
    content: "Outside allowable value range";
    width: 24rem;
}