@charset "UTF-8";

/* I intend to practice here, therefore I could repeat some codes or not simplify them merging in a single declaration */

/* Your first form */
/* First form */

.example li {
    list-style-type: none;
}

.example ul {
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.example li {
    margin-bottom: 2rem;
}

.example {
    width: 45rem;
    margin: 0 auto 2rem auto;
}

.example label {
    width: 10rem;
    display: inline-block;
    text-align: right;
}

.example input, .example textarea {
    font: 1.6rem sans-serif;
    width: 30rem;
    box-sizing: border-box;
}

textarea {
    vertical-align: top;
    height: 10rem;
}

.button {
    padding-left: 10.4rem;
}

.example button {
    padding: 1rem 2rem;
}

/* Second form */

.example2 {
    box-sizing: border-box;
    width: 60rem;
    padding: 2rem;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 1rem;
}

.example2 ul {
    padding: 0;
    margin: 0;
}

.example2 li {
    list-style-type: none;
    margin-bottom: 2rem;
    text-align: right;
}

.example2 .button input {
    width: 45rem;
    padding: 1rem 0;
}

.example2 input, .example2 label, .example2 textarea {
    display: inline-block;
    box-sizing: border-box;
}

.example2 input, .example2 textarea {
    width: 45rem;
}

/* How to structure a web form */
/* Runs in all forms */
.example3, .example3 fieldset, .example4, .example4 fieldset, .example5, .example5 fieldset {
    margin: 0 auto 2rem auto;
}

/* First form */

.example3 {
    width: 35rem;
}

.example3 label {
    text-align: left;
    width: 12rem;
}

.example3 input, .example3 label {
    display: inline-block;
}

.example3 p {
    text-indent: auto;
}

/* Second form and third form */

.example4, .example5 {
    width: 35rem;
    padding: 2rem;
}

.example4 {
    border: 1px solid gray;
    border-radius: 1rem;
}

/* Fourth form */
.example6 .contact p {
    text-indent: 0;
}

.example6 h1, .example6 h2, .example6 h3, .example6 {
    counter-reset: none;
}

.example6 h1::before, .example6 h2::before, .example6 h3::before, .example6 h4::before {
    counter-increment: none;
    content: none;
}

.example6 {
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 50rem;
    margin: 0 auto;
}

.example6 li {
    list-style-type: none;
}

.example6 .contact p {
    padding-left: 7rem;
}

.example6 label, .example6 input {
    display: inline-block;
}

.example6 .contact label {
    text-align: left;
    width: 8rem;
}


.example6 .contact fieldset, .example6 .contact input:not(.contact fieldset input), .example6 .interest fieldset  {
    float: right;
    
}

.example6 fieldset {
    width: 40rem;
    margin: 0 0 2rem 0;
}

.contact p input {
    width: 33rem;
}

.example6 button {
    display: block;
    padding: 0.5rem;
    margin: 0 auto;
}