@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4568dc, #b06ab3);
    font-size: 16px;
}

.container {
    background-color: white;
    max-width: 80rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 3rem 4rem;
}

/* .personal-information {
    display: flex;
    width: 100%;
} */