@charset "UTF-8";

div {
    font-size: 100%;
}

span {
    font-weight: bold;
}

div.examples p {
    text-align: center;
}

p.pxone {
    font-size: 15px;
}

p.pxtwo {
    font-size: 30px;
}

p.emone {
    font-size: 0.9375em;
}

p.emtwo {
    font-size: 1.875em;
}

p.vwone {
    font-size: 1vw;
}

p.vwtwo {
    font-size: 2vw;
}

p.vwthree {
    font-size: 4vw;
}