@charset "UTF-8";

/* First div */
div.container, div.container2, div.container3 {
    border: 4px solid salmon;
    border-radius: 12px;
}

/* Second div*/
div.test, div.test2, div.test3, div.test4 {
    border: 4px solid steelblue;
    border-radius: 12px;
}

/* padding */
div.container, div.container2, div.container3, div.test, div.test2, div.test3, div.test4 {
    padding: 10px;
}

div.container p::first-line {
    color: lightseagreen;
}

div.test p::first-line, div.test2 p::first-line, div.test3 p::first-line, div.test4 p::first-line {
    font-variant: small-caps;
}

div.container p::first-line {
    color: lightseagreen;
}

div.test2 p::first-letter, div.test3 p::first-letter, div.test4 p::first-letter {
    color: steelblue;
    font-size: 20px;
    font-weight: bold;
}

div.test3 h1::before, div.test4 h1::before {
    content: url(../_imagens/blue-kinstone-menor.png);
    margin-right: 10px;
}

div.test3 p::before, div.test4 p::before {
    content: "Eu não estava aqui no HTML!!! ";
    color: orangered;
}

div.test4 p::after {
    content: " Eu não estava aqui no HTML!!!";
    color: orange;
}

ul.one, ul.two {
    display: inline-block;
}

ul.one li::marker {
    color: lightseagreen;
}

ul.two li::marker {
    color: #04AA6D;
    font-size: 24px;
}

div.container2 {
    text-align: center;
    width: fit-content;
    margin: 0 auto 0 auto;
}

div.container3 p::selection, div.container3 h1::selection {
    color: orangered;
    background-color: lightblue;
}