@charset "UTF-8";

div.website {
    background-color: white;
}

div.website ul, div.navmenu ul {
    list-style-type: none;
}

div.website li a, div.navmenu li a {
    text-decoration: none;
}

div.navmenu2, div.navmenu2 li {
    background-color: #1898E0;
}

div.navmenu2 {
    width: 100%;
}

div.navmenu2, div.mainheader h1, div.container4, div.container, div.small-container, div.container2 {
    height: fit-content;
}

div.navmenu2 ul, div.container3 ul {
    padding: 0;
}

div.navmenu2 li {
    padding: 15px;
}

div.navmenu2 li:hover, div.container3 li a:hover {
    background-color: #006494;
}

div.container3, div.container3 ul, div.article, div.mainheader, div.mainheader h1, img.right, div.imgcaption, div.container4, div.footer2, div.container, div.small-container, .box, .box2, .box3, .box4, .box5, .img, .img2, .img3, div.small-container2, div.small-container3 {
    box-sizing: border-box;
}

div.container3, div.container3 ul, div.navmenu li a {
    display: inline-block;
}

div.container3, div.container3 ul, div.mainheader h1, div.navmenu2 ul, div.small-container2   {
    margin: 0;   
}

div.container3, div.article {
    width: 100%;
    height: 100%;
}

div.container3 {
    padding: 20px;
}

div.container3 ul {
    width: 25%;
}

div.container3 li a:hover {
    color: white;
}

div.navmenu2 li.first2 {
    background-color: #247BA0;
}

div.container3 li, div.container2, div.navmenu ul {
    margin: 0 auto;
}

div.container3 li {
    width: 10vw;
}

div.container3 li a {
    background-color: #DFE9F5;
    display: block;
    color: black;
    padding: 8px;
    margin: 0px auto 5px auto;  
}

div.container3 li a.selected    {
    background-color: navy;
    color: white;
}

div.article {
    padding: 0 20px;
}

div.article h1, div.article p {
    text-align: left;

}

div.article h1, div.article p, div.mainheader h1, div.small-container3 h1, div.small-container3 p {
    text-indent: 0;
}

div.mainheader {
    width: 100%;
    height: 100%;
}

div.mainheader h1 {
    background-color: steelblue;
    color: white;
    width: 100%;
    padding: 37px;
}

div.container4 {
    width: 75%;
}

div.footer2 {
    background-color: #006494;
    width: 100%;
    padding: 30px;
}

/* First Letter*/
.flleft {
    font-size: 300%;
    width: 6vw;
    line-height: 80%;
    font-family: 'Courier New', Courier, monospace;
}

img.right, div.imgcaption {
    border: 4px dotted #04AA6D;
    border-radius: 10px;
    margin: 0 0 10px 15px;
    padding: 10px;
}

div.imgcaption, .right, div.small-container3, div.article, div.mainheader, div.container4 {
    float: right;
}

div.container2, div.small-container2, div.small-container3, div.navmenu2, div.navmenu ul {
    overflow: hidden;
}

div.container2 {
    background-color: white;
    width: 100%;
}

div.small-container2 {
    padding: 15px;
    width: 30%;
}

div.small-container3 {
    padding: 0;
    margin: 0;
    width: 70%;
}

div.small-container3 h1, div.small-container3 p {
    text-align: left;
}

div.small-container3 p {
    padding: 5px;
}

div.header, div.footer, div.leftbox, div.navmenu2 a, div.footer2 {
    color: white;
}

div.header, div.footer {
    background-color: #04AA6D;
}

div.header {
    padding: 50px;
    font-size: 18pt;
}

div.footer {
    padding: 30px;
    font-size: 12pt;
}

div.leftbox {
    background-color: green;
    padding: 8px;
    margin: 10px auto;
    width: 150px;
    text-align: left;
}

div.leftbox:hover {
    background-color: darkgreen;
}

div.navmenu ul {
    padding: 0;
    width: 60%;
    background-color: lightgreen;
    outline: 2px solid darkgreen;
}

div.navmenu li a {
    padding: 14px;
    color: black;
}

div.navmenu li:hover:not(.first) {
    background-color: #04AA6D;
}

div.navmenu .first {
    background-color: green;
}

div.container, div.small-container, .box, .box2, .box3, .box4, .box5, .img, .img2, .img3, div.small-container2, div.small-container3, div.mainheader h1, div.imgcaption, div.navmenu li a {
    text-align: center;
}

div.container, div.small-container {
    width: fit-content;
    margin: 20px auto;
}

div.container::after, div.navmenu::after, div.navmenu2::after {
    content: "";
    clear: both;
    display: table;
}

.box, .box2, .box3, .box4, .box5, .img, .img2, div.small-container, div.navmenu li, div.navmenu2 li, div.small-container2, .flleft {
    float: left;
}

.box, .box2, .box3, .box4, .box5 {
    padding: 50px;
}

.box, .box2, .box3, .img, .img2, div.small-container {
    width: 33.33%;
}

.box4, .box5 {
    width: 50%;
}

.box, .box4 {
    background-color: #bbb; 
}

.box2, .box5 {
    background-color: #ccc; 
}

.box3 {
    background-color: #ddd;
}

.img, .img2, .img3 {
    border: 4px solid #04AA6D;
    border-radius: 10px;
}

.img, .img2, .img3 {
    padding: 10px;
}

.img2, .img3 {
    margin: 5px;
}

.clear, div.footer, .container3, div.footer2 {
    clear: both;
}