@charset "UTF-8";

.attribute, .attribute2, .attribute3, .attribute4, .attribute5 {
    border: 4px solid salmon;
}

.attribute, .attribute2, .attribute3, .attribute4, .attribute5 {
    border-radius: 12px;
}

.attribute, .attribute2 {
    width: 40%;
}

.attribute, .attribute2, .attribute3, .attribute4, .attribute5 {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.attribute3, .attribute4, .attribute5 {
    width: 50%;
}

.attribute a, .attribute2 a {
    text-indent: 20px;
    display: block;
    margin: 10px;
}

.attribute a[target], .attribute2 a[target="_blank"] {
    color: #04AA6D;
}

.attribute3 img, .attribute4 img, .attribute5 img {
    margin: 15px;
    padding: 5px;
}

.attribute3 img[title~="blue"], .attribute4 img[title~="blue"], .attribute5 img[title~="blue"] {
    border: 4px solid blue;
    border-radius: 12px;
}

.attribute3 [title~="green"], .attribute4 [title~="green"], .attribute5 [title~="green"]{
    border: 4px solid green;
    border-radius: 12px;
}

.attribute3 [title~="gold"], .attribute4 [title~="gold"], .attribute5 [title~="gold"] {
    border: 4px solid gold;
    border-radius: 12px;
}

.attribute3 [title~="red"], .attribute4 [title~="red"], .attribute5 [title~="red"] {
    border: 4px solid red;
    border-radius: 12px;
}

.attribute3 [title~="kinstone"], .attribute4 [title~="kinstone"], .attribute5 [title~="kinstone"] {
    outline: 4px solid royalblue;
}

[title|=background] {
    background-color: steelblue;
    border-radius: 12px;
}

.attribute4 [title^=background] {
    background-color: orange;
    border-radius: 12px;
}

.attribute4 [title$="navy"], .attribute5 [title$="navy"]  {
    background-color: navy;
    border-radius: 12px;
}

.attribute5 [title*="stone"] {
    outline: 4px solid royalblue;
    outline-offset: 10px;
}

.attribute4 input[type=text], .attribute4 input[type="number"], .attribute5 input[type="text"], .attribute5 input[type="number"] {
    display: block;
}

.attribute4 input[type=text], .attribute4 input[type="number"], attribute4 input[type="button"], .attribute5 input[type="text"], .attribute5 input[type="number"], .attribute5 input[type="button"] {
    text-align: center;
    margin: 5px auto;
}

.attribute5 input[type="text"] {
    background-color: limegreen;
}

.attribute5 input[type="number"] {
    background-color: orange;
}

.attribute5 input[type="button"] {
    background-color: steelblue;
}

span.bold2 {
    font-weight: bold;
    color: midnightblue;
}