@charset "UTF-8";

p.one {
    text-indent: 10px;
}

p.two {
    text-indent: 30px;
}

p.three {
    letter-spacing: 8px;
}

p.four {
    letter-spacing: -1px;
}

p.five {
    line-height: 25pt;
}

p.six {
    line-height: 45px;
}

p.seven {
    word-spacing: 12px;
}

p.eight {
    word-spacing: -1px;
}

p.nine {
    white-space: nowrap;
}

p.ten{
    white-space: pre;
}

p.eleven{
    white-space: pre-line;
}

p.twelve{
    white-space: pre-wrap;
}

span {
    font-weight: bold;
}