@charset "UTF8";

body {
    background-color: #78b4e3;
    font-family: Arial;
    font-size: 100%;
}

div#explicacao {
    background-color: azure;
    margin: -8px auto 10vw auto;
    max-width: 65vw;
    padding: 20px;
    min-height: 60vw;
}

div#link {
    background: url(../_imagens/minish-cap.png) no-repeat fixed right top;
}

p {
    font-size: 12pt;
    text-indent: 20pt;
    
}

h1, h2, h3, h4, h5, h6 {
    text-indent: 20pt;
}