@charset "UTF8";

body {
    background-color: #78b4e3;
    font-family: Arial;
}

div#explicacao {
    background-color: azure;
    margin: -8px auto 50px auto;
    max-width: 950px;
    padding: 20px;
    min-height: 700px;
}

p {
    font-size: 12pt;
}

* {
    text-indent: 20pt;
}