@charset "UTF-8";

ul {
    position: relative;
    display: block;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li:not(.dropdown-content li) {
    margin: 0;
    padding: 0;
    display: inline-block;
}

a {
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: white;
}

a:not(.dropbtn) {
    display: block;
}

a:not(.dropdown-content a, .selected), ul {
    background-color: #04AA6D;
}

.dropdown-content a {
    background-color: lightseagreen;
}

li:not(.dropdown-content li, .fright) {
    float: left;
}

.dropbtn {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 2px solid salmon;
}

.dropdown-content {
    position: absolute;
    width: 150px;
    border: 2px solid magenta;
}

.fright {
    float: right;
}

.right {
    right: 0;
}

a.selected {
    background-color: rgb(35, 212, 35);
}

.dropbtn:hover:not(.selected) {
    background-color: green; 
}